/*上面的 店名、功能列*/
.box{
    height: 80px;
}
header{
    background-color: #bebebe;
    height: 80px;
    width: 100%;
    color: #00003f;
    position: fixed;
    z-index: 5;
}
.above{
    height: 80%;
    display: flex;
    justify-content : space-between;
    align-items: center;
}
.name{
    font-size: 50px;
    display: inline-block;
}
.func{
    font-size: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
}
a{
    text-decoration: none;
}
.a-name:visited{
    color: #00003f;
}
.a-func:visited{
    color: #00003f;
}
.a-func:active{
    color: gray;
}
.a-func:link{
    color: #bebebe;
}
.a-name:link{
    color: #bebebe;
}
.func1{
    width: 35px;
    height: 25px;
}
.under{
    height: 20%;
    background-color: #00003f;
}